@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BugTracker</h1>
</div>

@await Component.InvokeAsync("HomeCardSlider", new { type = "ticket"})
@await Component.InvokeAsync("HomeCardSlider", new { type = "project" })


@section Scripts {

    <script >
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });

        $("div.card-text").text(function(index, currentText) {
            if (currentText.length > 100) {
                return currentText.substr(0, 100)+ '...';
            }
            else{
                return currentText;
            }
        });
        
    </script>
}
