@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BugTracker</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/1508/1508875.png" class="img-fluid " alt="Responsive image">
</div>
